<% layout("/layouts/boilerplate") -%>
  <body>
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT"
      novalidate
      class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
      <lable for="title" class="form-label"></lable>
      <input name="listing[title]" value="<%= listing.title %>" type="text"  class="form-control" required/>
      <div class="valid-feedback">Title looks good</div>
      <div class="invalid-feedback">Title Should be Valid good</div>


    </div>
      <div class="mb-3">
        <lable for="description" class="form-label"></lable>
        <textarea name="listing[description]" class="form-control" required>

        <%= listing.description %></textarea>
        <div class="invalid-feedback">Proper Description Should be inserted</div>
</div>
      
      <div class = "mb-3">
        <lable for="image" class="form-label">Upload Listing Image</lable>
  
      <input name="listing[image]"  type="file" class="form-control" required/>

      </div>
      <div class="mb-3">
      <lable for="price" class="form-label"></lable>
      <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required/>
      <div class="invalid-feedback">Proper Price Should be inserted</div>

      </div>
      <div class="mb-3">
        <lable for="country" class="form-label"></lable>

        <input
        name="listing[country]"
        value="<%= listing.country %>"
        type="text"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Country Name Should Be Valid</div>

      </div>
      <div class="mb-3" >
        <lable for="location" class="form-label"></lable>
        <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text"
        class="form-control"
        required
      /> 
      <div class="invalid-feedback">Location Should Be Valid</div>

      </div>
     
      <br /><br />
      <button>Edit</button>
    </form>