<% layout("/layouts/boilerplate") -%>
<%= success %>
<div class="row">
      <div class="col-5 offset-3">
    <h3><%= listing.title %></h3>
  </div>
    <div class="card col-5 offset-3 show-card listing-card">
      <img src="<%= listing.image.url %>" class="card-img-top  show-img" alt="listing_image">
      <div class="card-body">
        <p class="card-text"><u>Owned By</u><%= listing.owner.username %></p>

        <p class="card-text">
        <%= listing.description %> <br> </p>
        <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %></p> 
        <br>
        <p class="card-text"><%= listing.location %></p>
        <p class="card-text"><%= listing.country %> </p>
     
      </div>
    </div>

    <% if( currUser && listing.owner._id.equals(currUser._id)) { %>
   <div class = "d-grid gap-2">
  
    <a href="/listings/<%= listing._id %>/edit" class="btn gapx btn-primary made">Edit this Listing</a>

<hr>
<form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
    <button class="btn gapy btn-primary made">Delete this listing</button>
  </form> 
</div>
<% } %>
<% if(currUser) { %>
<div class="col-8 offset-3 mb-3">
  <hr/>
  <h4>
Leave a Review
  </h4>
  <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
  <div class="mb-3 mt-3">
    <label for="rating" class="form-label"> Rating </label>
    <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
  </div>
  <fieldset class="starability-basic">
    <legend>First rating:</legend>
    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
    <input type="radio" id="first-rate1" name="rating" value="1" />
    <label for="first-rate1" title="Terrible">1 star</label>
    <input type="radio" id="first-rate2" name="rating" value="2" />
    <label for="first-rate2" title="Not good">2 stars</label>
    <input type="radio" id="first-rate3" name="rating" value="3" />
    <label for="first-rate3" title="Average">3 stars</label>
    <input type="radio" id="first-rate4" name="rating" value="4" />
    <label for="first-rate4" title="Very good">4 stars</label>
    <input type="radio" id="first-rate5" name="rating" value="5" />
    <label for="first-rate5" title="Amazing">5 stars</label>
  </fieldset>
  <div>
    <label for="comment">Comments</label>
    <textarea cols="30" rows="5" id="comment" name="review[comment]" class="form-control" required></textarea>
    <div class="invalid-feedback">Please add comments for reviews</div>
  </div>
  <button>Submitt</button>
  </form>
  <%  } %>
</hr>



<h4>All Reviews</h4>
<div class="row">
<% for(review of listing.reviews){ %>
  <div class="card col-5 ms-3 mb-3 listing-card">
    <div class="card-body">
      <h5 class="card-title"><%= review.author.username %></h5>
      <p class="card-text"><%= review.comment %></p>
      <p class="card-text"><%= review.rating %></p>stars
      <p class="starability-result" data-rating="3">
        Rated: 3 stars
      </p>
    
=======
      <p class="starability-result card-text"> data-rating ="<%=review.rating %>"</p>

    </div>
    <form class="mb-3" method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
      
      <button class="btn btn-sm btn-dark"> Delete </button>
    </form>
  </div>  <% } %>
</div>
</div>