<% layout("/layouts/boilerplate") -%>
<script>
let  mapToken = "<%= process.env.MAP_TOKEN %>";
</script>
<%= success %>
<div class="row">
      <div class="col-5 offset-3">
    <h3><%= listing.title %></h3>
  </div>
    <div class="card col-5 offset-3 show-card listing-card">
      <img src="<%= listing.image.url %>" class="card-img-top  show-img" alt="listing_image">
      <div class="card-body">
        <p class="card-text"><u>Owned By</u><%= listing.owner.username %></p>

        <p class="card-text">
        <%= listing.description %> <br> </p>
        <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %></p> 
        <br>
        <p class="card-text"><%= listing.location %></p>
        <p class="card-text"><%= listing.country %> </p>
     
      </div>
    </div>

    <% if( currUser && listing.owner._id.equals(currUser._id)) { %>
   <div class = "d-grid gap-2">
  
    <a href="/listings/<%= listing._id %>/edit" class="btn gapx btn-primary made">Edit this Listing</a>

<hr>
<form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
    <button class="btn gapy btn-primary made">Delete this listing</button>
  </form> 
</div>
<% } %>
<% if(currUser) { %>
<div class="col-8 offset-3 mb-3">
  <hr/>
  <h4>
Leave a Review
  </h4>
  <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
  <div class="mb-3 mt-3">
    <label for="rating" class="form-label"> Rating </label>
    <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
  </div>
  <div>
    <label for="comment">Comments</label>
    <textarea cols="30" rows="5" id="comment" name="review[comment]" class="form-control" required></textarea>
    <div class="invalid-feedback">Please add comments for reviews</div>
  </div>
  <button>Submitt</button>
  </form>
</hr>
<% } %>
 <% if(listing.reviews.length > 0)  { %>
<h4>All Reviews</h4>
<div class="row">
<% for(review of listing.reviews){ %>
  <div class="card col-5 ms-3 mb-3 listing-card">
    <div class="card-body">
      <h5 class="card-title"><%= review.author.username %></h5>
      <p class="card-text"><%= review.comment %></p>
      <p class="starability-result card-text"> data-rating ="<%=review.rating %>"</p>
    </div>
    <form class="mb-3" method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
      <button class="btn btn-sm btn-dark"> Delete </button>
    </form>
  </div>  <% } %>

</div>
<% } %>
  <h3>Where you will be</h3>
  <div class="col-8 offset-3 mb-3">
 
  <div id="map"></div>
</div>
</div>

<script >	mapboxgl.accessToken ="pk.eyJ1Ijoic2hpdmFuc2hhc2FzIiwiYSI6ImNsd242YTE3YjB3enkybG5mbWZ3MHo1M3YifQ.MCclAkd2lGMF214hphPc1Q";
  const map = new mapboxgl.Map({
      container: 'map', // container ID
      center: [-74.5, 40], // starting position [lng, lat]
      zoom: 9 // starting zoom
  });
</script>